.Brand{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-size: 25px;
}
.NavLink{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    margin-left: 15px;
}
.NavLink:hover{
    color: wheat;
}
.container-fluid {
  margin: 0 87px;
}
.mr-md-5.nav {
  list-style: none;
}
.active{
  text-shadow: 1px 1px grey;
  color: wheat;
}